$xlarge: 1920px;
$large: 1024px;
$med: 768px;
$small: 554px;

.about {
    padding: 0 14vw 1.5vw;
    display: flex;

    @media screen and (max-width: $med) {
        padding: 2rem 12vw 1.5vw;
    }

    @media screen and (max-width: $small) {
        flex-direction: column;
        padding-left: 3.2vw;
        padding-right: 3.2vw;
        padding-bottom: 3rem;
    }

    @media screen and (min-width: 1500px) {
        padding: 0 7vw 1.5vw;
    }

    .image-container {
        width: 30%;

        @media screen and (max-width: $small) {
            width: 100%;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .about-container {
        padding-left: 8vw;
        width: 70%;

        span {
            font-weight: 500;
        }

        @media screen and (max-width: $small) {
            width: 100%;
            padding-left: 0;
            padding-top: 2.5rem;
        }
    }

    .location {
        margin-top: 0;
    }

    .location, .title {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        line-height: 1.6em;
        letter-spacing: .25em;
        text-transform: uppercase;
        color: #333;
        font-size: .65rem;

        @media screen and (max-width: $med) {
            font-size: .75rem;
        }
    }

    h1 {
        margin-top: 2rem;
        font-size: 2.60416667vw;
        font-weight: 400;
        margin-bottom: 1.8rem;

        @media screen and (max-width: $med) {
            font-size: 2rem;
            margin-top: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }

    p {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 1.8em;
        letter-spacing: .02em;
        text-rendering: optimizeLegibility;
        color: #333;
        margin-top: 1.25em;
        margin-bottom: 1.6em;
    }

    a {
        text-decoration: none;
        color: #333;
        padding-left: 4px;
        font-weight: 500;
    }

    i {
        fill: #222;
        font-size: 1.4rem;
        transition: all .2s ease-in-out;
    }

    .icon-container {
        display: inline-block;

        &:hover a {
            color: #c7c7c7;
        }
        a {
            padding-left: 0;

            &:nth-child(even) {
                margin-left: .85rem;
                margin-right: .85rem;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #333;
            }
        }

        @media screen and (max-width: $small) {
            padding-top: 5px;
        }
    }
}