$xlarge: 1920px;
$large: 1024px;
$med: 768px;
$small: 554px;

.blog-card-home {
    display: flex;
    margin-bottom: 1.5rem;

    @media screen and (max-width: $small) {
        flex-direction: column;
        margin-bottom: 2.5rem;
    }

    .image-container {
        width: 40%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            cursor: pointer;
        }

        @media screen and (max-width: $small) {
            width: 100%;
            height: 34vh;
        }
    }

    .text-container {
        width: 60%;
        padding: 1rem 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media screen and (max-width: $small) {
            width: 100%;
            padding: 2rem 0;
        }

        h1 {
            margin-bottom: 1rem;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            @media screen and (max-width: $small) {
                margin-bottom: 0;
            }
        }

        .title {
            align-self: flex-start;

            @media screen and (min-width: $xlarge) {
                font-size: 40px;
            }

            @media screen and (max-width: $med) {
                font-size: 1.7rem;
            }
        }

        .button {
            margin-top: 0;
            margin-bottom: 0;
            border: 1px solid #333;
            padding: .3rem 1.3rem;
            transition: all .1s ease-in-out;
            align-self: flex-start;

            &:hover {
                cursor: pointer;
                background: #333;
                color: white;
            }
        }
    }
}