.project {
    padding: 0 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;

    .column-50-text {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    img {
        padding: 1px 1.5vw;
    }

    .top-bottom-padding {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .center {
        text-align: center;
    }
}