$large: 1024px;
$med: 768px;
$small: 554px;

.resume {
    padding: 0 14vw 5vw;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $small) {
        padding: 0 3.1vw 4rem;
    }

    .full-img, .mobile-img {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    .mobile-img {
        display: none;

        @media screen and (max-width: $small) {
            display: block;
        }
    }

    .full-img {
        @media screen and (max-width: $small) {
            display: none;
        }
    }

    a {
        position: relative;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 1.5rem auto 0;
        background-color: white;
        color: #333;
        // border: 2px solid #333;
        // padding: .9em 1.5em;
        text-decoration: none;
        outline: none;
        // transition: all .2s ease-in-out;

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            // background-color: #1c19ca;
            // background-image: linear-gradient(
            //         45deg,
            //         #CA4246 16.666%, 
            //         #E16541 16.666%, 
            //         #c25638 33.333%, 
            //         #8B9862 50%, 
            //         #51648f 66.666%, 
            //         #A7489B 83.333%);
            // background-image: linear-gradient(70deg,#083df9 20%,#ac7f54 60%,#ee06f2);
            background-image: linear-gradient(70deg,#083df9 35%,#ac7f54 70%,#ee06f2);
            background-size: 100%;
            background-repeat: repeat;
        }

        @media screen and (max-width: $small) {
            font-size: 1rem;
        }
    }
}