.project-item {
    width: 50%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border: solid 2px white;
    
    .invisible-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: #1d2124ed;
        transition: all .2s ease-in-out;

        h1 {
            padding-left: 2rem;
            padding-right: 2rem;
            font-weight: 400;
            text-align: center;
            color: #dddee2;
        }
    }

    &:hover .invisible-content {
        cursor: pointer;
        opacity: 1;
    }
}