$large: 1024px;
$med: 768px;
$small: 554px;

.header {
    margin: 3vw auto;
    padding-left: 1.5vw;
    padding-right: 4.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $med) {
        padding-left: 3.2vw;
        padding-right: 3.5vw;
    }

    .logo-container {

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 66px;
        }
    }

    .links-container {
        .link {
            font-family: 'Work Sans', sans-serif;
            text-decoration: none;
            outline: none;
            color: #c7c7c7;
            font-style: normal;
            font-size: 10px;
            letter-spacing: .25em;
            text-transform: uppercase;
            line-height: 1em;
            transition: color .2s;
            font-weight: bold;

            @media screen and (max-width: $med) {
                display: none;
            }
        }

        :hover {
            color: #333;
        }

        :nth-child(even) {
            padding-left: 30px;
            padding-right: 30px;

            @media screen and (max-width: $med) {
                padding-right: 0;
            }
        }

        .active {
            color: #333;
        }

        .open-btn {
            font-size: 1.5rem;
            color: #333;
            display: none;

            @media screen and (max-width: $med) {
                display: block;
            }
        }
    }

    .sidenav {
        opacity: 0;
        background: white;
        color: #333;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: -1;
        transition: all .05s ease-in;

        .link {
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 26px;
            letter-spacing: 0em;
            line-height: 1.6em;
            text-transform: none;
            text-decoration: none;
            outline: none;
            color: #333;
            position: relative;
            bottom: 4rem;
        }

        .active {
            color: #b0a997;
        }
    }

    .sidenav-open {
        z-index: 1;
        opacity: 1;
    }

    .close-btn {
        position: absolute;
        top: 2.8rem;
        right: 1.5rem;
        font-size: 1.7rem;

        @media screen and (max-width: $small) {
            top: 2rem;
            right: 1rem;
        }
    }
}