@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  color: #333;
  letter-spacing: 0.03em;
}

.site-width {
  max-width: 1500px;
  margin: auto;
}
