$xlarge: 1920px;
$large-special: 1348px;
$large: 1024px;
$med: 768px;
$small: 554px;

.blog-single-info {
    padding: 0 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: auto;

    @media screen and (max-width: $small) {
        padding: 2rem 3.2vw 3rem;
    }

    .hero {
        height: 70vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -2;
        background: black;

        @media screen and (max-width: $small) {
            height: 60vh;
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: black;
            background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.828) 15%, rgba(255,255,255,0) 100%);
        }

        .hero-img-container {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 70vh;
            width: 100%;

            @media screen and (max-width: $small) {
                height: 60vh;
            }
    

            .overlay-inner {
                height: 100%;
                width: 100%;
                display: flex;
                
                .hero-header-container-inner {
                    margin: 0 auto;
                    align-self: flex-end;
                    z-index: 1;
                    width: 60vw;
                    padding-right: 19vw;
                    padding-bottom: 30px;
                    max-width: 1500px;

                    @media screen and (max-width: $large-special) {
                        padding-right: 0;
                    }

                    @media screen and (max-width: $large) {
                        width: 100%;
                        padding: 0 3.2vw;
                    }

                    h1 {
                        font-family: 'Cinzel', serif;
                        margin-top: 0;
                        font-size: 4rem;
                        line-height: 3.7rem;
                        margin-bottom: 0;
                        letter-spacing: 0;
                        color: white;

                        @media screen and (max-height: $small) {
                            font-size: 2rem;
                            line-height: 2.2rem;
                        }
                
                        @media screen and (max-width: $small) {
                            font-size: 2rem;
                            line-height: 2rem;
                        }
                    }
    
                    h3 {
                        font-family: 'Work Sans', sans-serif;
                        font-style: normal;
                        line-height: 1.6em;
                        letter-spacing: .25em;
                        text-transform: uppercase;
                        color: white;
                        font-size: .65rem;
                        font-weight: 400;
                        margin-bottom: 0;
                    }

                    .icons-container {
                        position: relative;
                        top: 1rem;
                        right: 12px;

                        .icon {
                            padding: 0 5px !important;
                            outline: none !important;

                            &:first-child {
                                padding-left: 0 !important;
                            }

                            &:last-child {
                                padding-right: 0 !important;
                            }

                            @media screen and (max-width: $small) {
                                padding: 0 !important;
                            }
                        }
                    }
                }
            }
        }

        .hero-header-container {
            margin: 0 auto;
            padding-bottom: 3vw;
            align-self: flex-end;
            z-index: 1;
            width: 60vw;
            max-width: 1500px;

            @media screen and (max-width: $large) {
                width: 100%;
                padding: 0 3.2vw 3.2vw;
            }

            img {
                width: 100%;
                margin: 2rem 0;
            }

            h1 {
                font-family: 'Cinzel', serif;
                position: relative;
                top: .9em;
                font-size: 2rem;
                line-height: 2rem;
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;
                background-color: #e0393f;
                // pink bg
                // background-image: linear-gradient(70deg, #e400ff 35%, #828c7f 70%, #c4c8c7 100%);
                // traditional bg
                // background-image: linear-gradient(70deg, #753db4 30%, #be1555 60%, #d90d22 100%);
                // background-image: linear-gradient(
                //         45deg,
                //         #CA4246 16.666%, 
                //         #E16541 16.666%, 
                //         #c25638 33.333%, 
                //         #8B9862 50%, 
                //         #51648f 66.666%, 
                //         #A7489B 83.333%);
                // background-image: linear-gradient(70deg,#083df9 20%,#ac7f54 60%,#ee06f2);
                background-size: 100%;
                background-repeat: repeat;

                @media screen and (max-width: $small) {
                    line-height: 1.8rem;
                    font-size: 1.8rem;
                }
            }

            ul {
                padding-top: 12px;

                li {
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 10px;

                    &::marker {
                        color: rgba(255, 255, 255, 0.578);
                    }
    
                    a {
                        font-size: 18px;
                    }
                }
            }

            blockquote {
                position: relative;
                margin-left: 5rem;
                display: inline-block;
                margin-top: 4rem;
                margin-bottom: 4rem;

                @media screen and (max-width: $med) {
                    margin-left: 5rem;
                }

                @media screen and (max-width: $small) {
                    margin: 3rem 0 3rem 1rem;
                }

                &:before {
                    content: "";
                    height: 100%;
                    width: 2px;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #b7b7b796 45%, #b7b7b796 75%, rgba(0, 0, 0, 0));
                    display: block;
                    position: absolute;
                    left: -4rem;

                    @media screen and  (max-width: $small) {
                        left: -1rem;
                    }
                }

                p {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    position: relative;
                    text-transform: uppercase;
                    font-family: 'Cinzel', serif;
                    font-size: 2.5rem;
                    line-height: 2.7rem;
                    margin: 0 !important;
                    margin-right: 50px !important;
                    background-color: #CA4246;
                    // pink bg
                    // background-image: linear-gradient(70deg, #e400ff 35%, #828c7f 70%, #c4c8c7 100%);
                    // traditional bg
                    // background-image: linear-gradient(70deg, #753db4 30%, #be1555 60%, #d90d22 100%);
                    // background-image: linear-gradient(
                    //         45deg,
                    //         #CA4246 16.666%, 
                    //         #E16541 16.666%, 
                    //         #c25638 33.333%, 
                    //         #8B9862 50%, 
                    //         #51648f 66.666%, 
                    //         #A7489B 83.333%);
                    // background-image: linear-gradient(70deg,#083df9 35%,#ac7f54 70%,#ee06f2);
                    background-image: linear-gradient(145deg, #bff617 0%,#93278d 100%);
                    background-size: 100%;
                    background-repeat: repeat;

                    @media screen and (max-width: $large) {
                        font-size: 2rem;
                        line-height: 2.2rem;
                    }

                    @media screen and (max-width: $med) {
                        margin-right: 0 !important;
                    }

                    @media screen and (max-width: $small) {
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                    }
                }
            }

            .hero-header-container-inner {
                width: 80%;

                h1 {
                    font-family: 'Cinzel', serif;
                    margin-top: 0;
                    font-size: 4rem;
                    line-height: 4rem;
                    margin-bottom: 0;
                    letter-spacing: 0;
                    color: white;
                }

                h3 {
                    font-family: 'Work Sans', sans-serif;
                    font-style: normal;
                    line-height: 1.6em;
                    letter-spacing: .25em;
                    text-transform: uppercase;
                    color: white;
                    font-size: .65rem;
                    font-weight: 400;
                }
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 18px;
                line-height: 1.7em;
                letter-spacing: .03em;
                text-rendering: optimizeLegibility;
                color: white;
                margin-top: 2em;

                &:first-child {
                    margin-top: 2em;
                }

                @media screen and (max-width: $small) {
                    font-size: 16px;
                }
            }

            a {
                text-decoration: none;
                color: white;
                position: relative;
                padding-bottom: 2px;
                font-weight: 500;
                font-style: italic;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    // background-color: #1c19ca;
                    // background-image: linear-gradient(
                    //         45deg,
                    //         #CA4246 16.666%, 
                    //         #E16541 16.666%, 
                    //         #c25638 33.333%, 
                    //         #8B9862 50%, 
                    //         #51648f 66.666%, 
                    //         #A7489B 83.333%);
                    // background-image: linear-gradient(70deg,#083df9 20%,#ac7f54 60%,#ee06f2);
                    background-image: linear-gradient(70deg,#083df9 35%,#ac7f54 70%,#ee06f2);
                    background-size: 100%;
                    background-repeat: repeat;
                }
            }

            .image {
                width: 100%;
            }

            footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 3rem;

                a {
                    font-family: 'Work Sans', sans-serif;
                    text-transform: uppercase;
                }
            }

            .share-footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                h3 {
                    font-family: 'Work Sans', sans-serif;
                    font-style: normal;
                    letter-spacing: .15em;
                    text-transform: uppercase;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    display: none;
                }
            }
        }
    }
}