$xlarge: 1920px;
$large-special: 1348px;
$large: 1024px;
$med: 768px;
$small: 554px;

.blog-single-info {
    padding: 0 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $small) {
        padding: 2rem 3.2vw 3rem;
    }

    .hero {
        height: 70vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -2;
        background: white;

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.828) 15%, rgba(255,255,255,0) 100%);
        }

        .hero-img-container {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 70vh;
            width: 100%;

            .overlay-inner {
                height: 100%;
                width: 100%;
                display: flex;
                
                .hero-header-container-inner {
                    margin: 0 auto;
                    align-self: flex-end;
                    z-index: 1;
                    width: 60vw;
                    padding-right: 19vw;
                    padding-bottom: 30px;
                    max-width: 1500px;

                    @media screen and (max-width: $large-special) {
                        padding-right: 0;
                    }

                    @media screen and (max-width: $large) {
                        width: 100%;
                        padding: 0 3.2vw;
                    }

                    h1 {
                        font-family: 'Cinzel', serif;
                        margin-top: 0;
                        font-size: 4rem;
                        line-height: 4rem;
                        margin-bottom: 0;
                        letter-spacing: 0;
                        color: #333;

                        @media screen and (max-height: $small) {
                            font-size: 2rem;
                            line-height: 2rem;
                        }
                
                        @media screen and (max-width: $small) {
                            font-size: 2rem;
                            line-height: 2rem;
                        }
                    }
    
                    h3 {
                        font-family: 'Work Sans', sans-serif;
                        font-style: normal;
                        line-height: 1.6em;
                        letter-spacing: .25em;
                        text-transform: uppercase;
                        color: #333;
                        font-size: .65rem;
                        font-weight: 400;
                        margin-bottom: 0;
                    }

                    .icons-container {
                        position: relative;
                        top: 1rem;
                        right: 12px;

                        .icon {
                            padding: 0 5px !important;
                            outline: none !important;

                            &:first-child {
                                padding-left: 0 !important;
                            }

                            &:last-child {
                                padding-right: 0 !important;
                            }

                            @media screen and (max-width: $small) {
                                padding: 0 !important;
                            }
                        }
                    }
                }
            }
        }

        .hero-header-container {
            margin: 0 auto;
            padding-bottom: 3vw;
            align-self: flex-end;
            z-index: 1;
            width: 60vw;
            max-width: 1500px;

            @media screen and (max-width: $large) {
                width: 100%;
                padding: 0 3.2vw 1.5vw;
            }

            img {
                width: 100%;
            }

            h1 {
                font-family: 'Cinzel', serif;
                position: relative;
                top: .9em;
                font-size: 2rem;
                margin-top: 0;
            }

            blockquote {
                position: relative;
                margin-left: 7rem;
                display: inline-block;
                margin-top:2rem;
                margin-bottom: 2rem;

                @media screen and (max-width: $med) {
                    margin-left: 5rem;
                }

                @media screen and (max-width: $small) {
                    margin-left: 1rem;
                }

                &:before {
                    content: "";
                    height: 100%;
                    width: 1px;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(13, 4, 54) 30%, rgb(104, 2, 70) 80%, rgba(0, 0, 0, 0));
                    display: block;
                    position: absolute;
                    left: -1rem;

                    @media screen and  (max-width: $small) {
                        left: -1rem;
                    }
                }

                p {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #4354aa;
                    position: relative;
                    text-transform: uppercase;
                    font-family: 'Cinzel', serif;
                    font-size: 2.5rem;
                    line-height: 2.7rem;
                    margin: 0 !important;
                    margin-right: 50px !important;
                    background-color: #CA4246;
                    background-image: linear-gradient(
                            45deg,
                            #CA4246 16.666%, 
                            #E16541 16.666%, 
                            #c25638 33.333%, 
                            #8B9862 50%, 
                            #51648f 66.666%, 
                            #A7489B 83.333%);
                    background-size: 100%;
                    background-repeat: repeat;

                    @media screen and (max-width: $large) {
                        font-size: 2rem;
                        line-height: 2.2rem;
                    }

                    @media screen and (max-width: $med) {
                        margin-right: 0 !important;
                    }

                    @media screen and (max-width: $small) {
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                    }
                }
            }

            .hero-header-container-inner {
                width: 80%;

                h1 {
                    font-family: 'Cinzel', serif;
                    margin-top: 0;
                    font-size: 4rem;
                    line-height: 4rem;
                    margin-bottom: 0;
                    letter-spacing: 0;
                }

                h3 {
                    font-family: 'Work Sans', sans-serif;
                    font-style: normal;
                    line-height: 1.6em;
                    letter-spacing: .25em;
                    text-transform: uppercase;
                    color: #333;
                    font-size: .65rem;
                    font-weight: 400;
                }
            }

            p {
                font-family: 'Lora', serif;
                font-weight: 500;
                font-style: normal;
                font-size: 16px;
                line-height: 1.8em;
                letter-spacing: .025em;
                text-rendering: optimizeLegibility;
                color: #333;
                margin-top: 2em;

                &:first-child {
                    margin-top: 2em;
                }
            }

            a {
                text-decoration: none;
                color: #333;
                position: relative;
                padding-bottom: 2px;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background-color: #CA4246;
                    background-image: linear-gradient(
                            45deg,
                            #CA4246 16.666%, 
                            #E16541 16.666%, 
                            #c25638 33.333%, 
                            #8B9862 50%, 
                            #51648f 66.666%, 
                            #A7489B 83.333%);
                    background-size: 100%;
                    background-repeat: repeat;
                    transition: all .8s ease-out;
                }

                &:hover::before {
                    background-image: linear-gradient(
                            45deg,
                            #b34d51 16.666%, 
                            #af563e 16.666%, 
                            #993b21 33.333%, 
                            #687930 50%, 
                            #2d3955 66.666%, 
                            #632a5b 83.333%);
                }
            }

            .image {
                width: 100%;
            }

            .share-footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                h3 {
                    font-family: 'Work Sans', sans-serif;
                    font-style: normal;
                    letter-spacing: .15em;
                    text-transform: uppercase;
                    color: #333;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}